.hero{
  height: 100vh;
  width: 100%;
  background-image: url(../public/Home/Hero/home-banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px){
  .hero{
    background-position: left;
  }
}